DB_USERNAME = ton
DB_PASSWORD = Chutipon
DB_ADDRESS = mongodb://ton:Chutipon@mongo:27017/

NGROK_AUTHTOKEN = ngrok_token

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = FROM_CLERK
CLERK_SECRET_KEY = FROM_CLERK
MONGODB_URI = mongodb://ton:Chutipon@mongo:27017/mydb?authSource=admin
